@media screen and (max-width:768px ) {
    .container{
        width: 650px;
        margin: 0;
    }
    .leftside img {
        margin-right: 80px;
        width: 250px;
        
        
    }
    
    .rightside ul li {
        margin-top: 3px;
        font-size: 17px;
    }
    .rightside h1{
        font-size: 25px;
        
    }
    .rightside h2{
        font: size 20px;
    }
    
    
    .optionbox{
        grid-template-columns: 1fr;
    }
    .title{
        font-size: 25px;
        padding: 4px 145px;
    
    }

    .optionbox span{
        margin: 8px;
    }


    .optionbox span{
        margin: 5px;
    }
    


    .box{width: 425px}

.box h1{
    padding: 0 45px ;
}
.left a{
    margin: 6px;
}

.right a{
    margin: 6px;

}


}


@media screen and (max-width:461px) {
    .box{width: 325px;
        justify-content:center;
        }
    .title{
        padding: 4px 100px;
         font-size: 18px;}
    
    .container{
        margin-right:0 ;
        padding: 25px;
        width: 440px;
        justify-content:center;
    
}
.buttonbox a{
    width: 250px;
}
.box h1{
    padding:3px;
    font-size:24px ;
}

.rightside h1{
    font-size: 20px;
    
    
}
.rightside h2{
    font: size 16px;
}
.rightside ul li {

    font-size: 13px;
}
.leftside{
margin-right: 30px;}
    .leftside img{
        margin-right: 100px;
        width:90px,}
    .rightside a{
        width: 130px;
    }
}
